<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>DIGIMON</title>
</head>
<body>
    <h1>DIGIMON</h1>
    <img src="/images/were.gif" height= "100" width= "75"/>
    <a href="/digimon/new">Add Digimon</a>
    <ul>
      <% digimon.forEach(function(t) { %>
        <li>
            <a href="/digimon/<%=t.id %>"><%= t.digiman %></a>
            - 
            <%= t.digiman ? 'digivolved?' : 'not digivolved' %>

            <form method="POST" action="/digimon/<%=t.id%>?_method=DELETE">
                <button class="button-85" role="button" type="submit">Delete Digimon</button>
              </form>
        </li>
      <% }); %>
    </ul>
  </body>
</html>